.anchorpane_mid_left {
    -fx-border-color: transparent #808080 #808080 #808080 ;
    -fx-background-radius: 0 0 0 7px;
    -fx-border-radius: 0 0 0 7px;
}

.anchorpane_mid_right {
    -fx-border-color: transparent #808080 #808080 transparent ;
    -fx-background-radius: 0 0 7px 0 ;
    -fx-border-radius: 0 0 7px 0 ;
}

.text_field_search {
    -fx-background-color: white ;
    -fx-background-radius: 0px;
    -fx-border-color: #808080 ;
}

.button_search {
    -fx-background-color: #d3d3d3 ;
    -fx-background-insets: 0px;
    -fx-background-radius: 3px ;
}

.button_search:hover {
    -fx-background-color: #808080 ;
    -fx-background-insets: 0px;
    -fx-background-radius: 3px ;
    -fx-text-fill: white ;
    -fx-cursor: hand ;
}

.button_add {
    -fx-background-color: #6495ed ;
    -fx-background-insets: 0px;
    -fx-background-radius: 3px ;
}

.button_add:hover {
    -fx-background-color: #0000ff ;
    -fx-background-radius: 3px ;
    -fx-background-insets: 0px;
    -fx-cursor: hand ;
}

.button_cancel {
    -fx-background-color: #d3d3d3 ;
    -fx-background-insets: 0px;
    -fx-background-radius: 3px ;
}

.button_cancel:hover {
    -fx-background-radius: 3px ;
    -fx-background-insets: 0px;
}

.button_close {
    -fx-min-width: 45px;
    -fx-min-height: 40px;
    -fx-max-width: 45px;
    -fx-max-height: 40px;
    -fx-background-radius: 0px;
    -fx-background-insets: 0px;
    -fx-background-color: transparent;
}

.button_close:hover {
    -fx-min-width: 45px;
    -fx-min-height: 40px;
    -fx-max-width: 45px;
    -fx-max-height: 40px;
    -fx-background-radius: 0 7px 0 0 ;
    -fx-background-insets: 0px;
    -fx-background-color: #ff6347;
    -fx-cursor: hand ;
}

.button_left {
    -fx-background-radius: 3px ;
    -fx-background-color: transparent ;
    -fx-graphic-text-gap: 10px;
    -fx-background-insets: 0px ;
}

.button_left:hover {
    -fx-background-radius: 3px ;
    -fx-background-color: #d3d3d3 ;
    -fx-background-insets: 0px ;
    -fx-graphic-text-gap: 10px;
    -fx-cursor: hand ;
}

.anchorpane_top {
    -fx-background-color: #6495ed ;
    -fx-background-radius: 7px  7px 0 0 ;
}

.list_contact {
    -fx-background-color: transparent ;
    -fx-border-color: transparent ;
    -fx-padding: 5px;
}

.list_contact .list-cell{
    -fx-background-color: transparent ;
    -fx-background-radius: 3px ;
    -fx-border-color: transparent ;
}

.list_contact .list-cell:selected .contact_item .text {
    -fx-fill: black ;
}

.list_contact .list-cell:selected {
    -fx-background-color: white ;
    -fx-background-radius: 3px ;
}