.anchorpane_right {
    -fx-border-color: transparent #808080 #808080 #808080;
}

.anchorpane_top {
    -fx-background-radius: 7px 7px 0 0 ;
    -fx-border-radius: 7px 7px 0 0 ;
    -fx-background-color: white ;
}

.anchorpane_top_2 {
    -fx-border-color: transparent #808080 #808080 #808080 ;
    -fx-background-color: white;
}

.anchorpane_center {
    -fx-background-color: white ;
    -fx-border-color: transparent #808080 #808080 #808080 ;
    -fx-background-radius: 0 0 7px 7px ;
    -fx-border-radius: 0 0 7px 7px ;
}

.anhchorpane_center_left {
    -fx-border-color: transparent #808080 transparent transparent;
}

.button_close {
    -fx-background-radius: 0px;
    -fx-min-width: 45px;
    -fx-min-height: 40px;
    -fx-max-width: 45px;
    -fx-max-height: 40px;
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
}

.button_close:hover {
    -fx-background-radius: 0 7px 0 0;
    -fx-border-radius: 0 7px 0 0;
    -fx-min-width: 45px;
    -fx-min-height: 40px;
    -fx-max-width: 45px;
    -fx-max-height: 40px;
    -fx-background-color: #ff6347;
    -fx-background-insets: 0px;
    -fx-cursor: hand ;
}

.button_minimize {
    -fx-background-radius: 0px;
    -fx-min-width: 45px;
    -fx-min-height: 40px;
    -fx-max-width: 45px;
    -fx-max-height: 40px;
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
}

.button_minimize:hover {
    -fx-background-radius: 0px;
    -fx-min-width: 45px;
    -fx-min-height: 40px;
    -fx-max-width: 45px;
    -fx-max-height: 40px;
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
}

.button_top_right {
    -fx-max-width: 30px ;
    -fx-max-height: 30px ;
    -fx-min-width: 30px ;
    -fx-min-height: 30px ;
    -fx-background-radius: 50em;
    -fx-background-color: transparent;
}

.button_top_right:hover {
    -fx-max-width: 30px ;
    -fx-max-height: 30px ;
    -fx-min-width: 30px ;
    -fx-min-height: 30px ;
    -fx-background-radius: 50em;
    -fx-background-color: transparent;
    -fx-cursor: hand ;
}

.button_top_left {
    -fx-max-width: 55px ;
    -fx-max-height: 37px ;
    -fx-min-width: 55px ;
    -fx-min-height: 37px ;
    -fx-background-radius: 7px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
}

.button_top_left:hover {
    -fx-max-width: 55px ;
    -fx-max-height: 37px ;
    -fx-min-width: 55px ;
    -fx-min-height: 37px ;
    -fx-background-radius: 7px ;
    -fx-background-color: #d3d3d3 ;
    -fx-background-insets: 0px ;
    -fx-cursor: hand ;
}

.text_field_search {
    -fx-background-color: #dcdcdc ;
    -fx-background-radius: 5px ;
}

.button_left {
    -fx-background-color: transparent;
    -fx-alignment: center_left ;
}

.button_create {
    -fx-background-color: transparent ;
    -fx-background-radius: 7px ;
    -fx-text-fill: white ;
}

.combobox_filters {
    -fx-background-color: transparent ;
}

.combobox_filters:hover {
    -fx-background-color: #d3d3d3 ;
    -fx-background-radius: 3px ;
    -fx-cursor: hand ;
}

.button_left_center {
    -fx-background-color: transparent;
    -fx-background-radius: 5px ;
    -fx-padding:  0 0 0 20px ;
    -fx-background-insets: 0px;
    -fx-graphic-text-gap: 20;
    -fx-alignment: center_left ;
}

.button_left_center:hover {
    -fx-background-color: #dcdcdc;
    -fx-background-radius: 5px ;
    -fx-background-insets: 0px;
    -fx-cursor: hand ;
}

.list_project {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px;
    -fx-alignment: center ;
}

.list_project .list-cell {
    -fx-background-color: transparent ;
    -fx-background-insets: 0;
    -fx-padding: 0px 5px 10px 0px;
}

.list_project .scroll-bar .thumb {
    -fx-background-color: #a9a9a9;
    -fx-background-radius: 0px;
    -fx-width: 5px;
}

.list_project .list-cell:selected {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-text-fill: black ;
}

.list_project .list-cell:selected .anchorpane_project .text {
    -fx-fill: black ;
}

.button_save{
    -fx-background-insets: 0;
    -fx-background-radius: 3px;
    -fx-background-color: #6495ed ;
}

.button_save:hover{
    -fx-background-insets: 0;
    -fx-background-radius: 3px;
    -fx-background-color: #0000ff ;
    -fx-cursor: hand ;
}

.button_cancel{
    -fx-background-insets: 0;
    -fx-background-radius: 3px;
    -fx-background-color: #d3d3d3 ;
}

.button_cancel:hover{
    -fx-background-insets: 0;
    -fx-background-radius: 3px;
    -fx-background-color: #808080 ;
    -fx-cursor: hand ;
}

.button_avata {
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 35px;
    -fx-max-height: 35px;
    -fx-background-radius: 50em ;
    -fx-background-color: transparent;
}

.button_avata:hover {
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 35px;
    -fx-max-height: 35px;
    -fx-background-radius: 50em ;
    -fx-background-color: transparent;
    -fx-cursor: hand ;
}

.button_list_top {
    -fx-background-color: transparent;
}

.button_list_top:hover {
    -fx-background-color: #d3d3d3;
    -fx-background-radius: 3px ;
    -fx-background-insets: 0px ;
    -fx-cursor: hand ;
}

/* Search client        */

.button_on_result_search {
    -fx-background-color: white ;
    -fx-background-radius: 5px ;
}

.button_on_result_search:hover {
    -fx-background-color: #d3d3d3 ;
    -fx-background-radius: 5px ;
    -fx-border-radius: 5px;
    -fx-border-color: #808080 ;
    -fx-cursor: hand ;
    -fx-background-insets: 0px ;
}

.button_close_on_result_search {
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-background-radius: 50em ;
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
}

.button_close_on_result_search:hover {
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-background-radius: 50em ;
    -fx-background-color: #d3d3d3;
    -fx-cursor: hand;
    -fx-background-insets: 0px;
}

/* Notification */

.button_nf_top_right {
    -fx-background-radius: 3px ;
    -fx-background-color: transparent;
}

/* Messenger */

.button_msg_right {
    -fx-alignment: center;
    -fx-background-color: white ;
    -fx-background-radius: 3px ;
    -fx-border-color: #808080 ;
    -fx-border-radius: 3px ;
}

.button_msg_search {
    -fx-background-radius: 5px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
}

.button_msg_search:hover {
    -fx-background-radius: 3px ;
    -fx-background-color: #d3d3d3 ;
    -fx-background-insets: 0px ;
    -fx-cursor: hand ;
}

.button_msg_bottom {
   -fx-min-width: 50px;
   -fx-min-height: 30px;
   -fx-max-width: 50px;
   -fx-max-height: 30px;
   -fx-background-radius: 5px;
   -fx-background-color: transparent ;
}

.button_msg_bottom:hover {
   -fx-min-width: 50px;
   -fx-min-height: 30px;
   -fx-max-width: 50px;
   -fx-max-height: 30px;
   -fx-background-radius: 3px;
   -fx-background-insets: 0px ;
   -fx-background-color: #d3d3d3 ;
   -fx-cursor: hand ;
}

.list_message {
    -fx-background-color: white ;
    -fx-border-color: transparent gray transparent transparent ;
}

.list_message .scroll-bar .thumb {
    -fx-background-color: #a9a9a9;
    -fx-background-radius: 0px;
    -fx-width: 5px;
}

.list_message .list-cell:selected {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-text-fill: black ;
}

.list_message .list-cell {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-text-fill: black ;
}

.list_message .list-cell:nth-child(odd) {
    -fx-background-color: transparent;
}

.list_message .list-cell:nth-child(even) {
    -fx-background-color: transparent;
}

.button_send {
    -fx-background-color: #6495ed ;
    -fx-background-radius: 3px;
}

.button_send:hover {
    -fx-background-color: #0000ff ;
    -fx-text-fill: white ;
    -fx-background-radius: 3px;
    -fx-cursor: hand ;
}

.button_cancel_file {
    -fx-background-color: #dcdcdc ;
    -fx-background-radius: 3px;
}

.button_cancel_file:hover {
    -fx-background-color: #d3d3d3 ;
    -fx-background-radius: 3px;
    -fx-cursor: hand;
}

.button_emoji {
    -fx-background-color: transparent ;
}

.button_emoji:hover {
    -fx-background-color: #d3d3d3 ;
    -fx-cursor: hand;
    -fx-background-radius: 3px ;
}

.button_reset {
    -fx-background-color: transparent;
}

.button_reset:hover {
    -fx-background-color: #d3d3d3;
    -fx-background-radius: 3px;
    -fx-cursor: hand;
    -fx-background-insets: 0px;
}

.list_interactor {
    -fx-background-color: transparent ;
    -fx-border-color: transparent ;
}

.list_interactor .list-cell{
    -fx-background-color: transparent ;
    -fx-border-color: transparent ;
}

.list_interactor .list-cell:selected .anchorpane_interactor .text {
    -fx-fill: black ;
}

.list_interactor .list-cell:selected {
    -fx-background-color: #dcdcdc ;
    -fx-background-radius: 3px ;
}

.list_request_add_contact {
    -fx-background-color:  #f8f8ff ;
    -fx-border-color: transparent ;
}

.list_request_add_contact .list-cell{
    -fx-background-color: transparent ;
    -fx-border-color: transparent ;
}

.list_request_add_contact .list-cell:selected .item_request .text {
    -fx-fill: black ;
}

.list_request_add_contact .list-cell:selected {
    -fx-background-color:  #f8f8ff ;
    -fx-background-radius: 3px ;
}

.list_feedback {
    -fx-background-color: #f8f8ff ;
    -fx-border-color: transparent ;
}

.list_feedback .list-cell{
    -fx-background-color: transparent ;
    -fx-border-color: transparent ;
}

.list_feedback .list-cell:selected .item_feedback .text {
    -fx-fill: black ;
}

.list_feedback .list-cell:selected {
    -fx-background-color:  #f8f8ff ;
    -fx-background-radius: 3px ;
}

.list_contact {
    -fx-background-color: transparent ;
    -fx-border-color: transparent ;
}

.list_contact .list-cell{
    -fx-background-color: transparent ;
    -fx-border-color: transparent ;
}

.list_contact .list-cell:selected .contact_item .text {
    -fx-fill: black ;
}

.list_contact .list-cell:selected {
    -fx-background-color: white ;
    -fx-background-radius: 3px ;
}

.hbox_project_status {
    -fx-background-color: transparent ;
    -fx-background-radius: 5px;
}

.hbox_project_status:hover {
    -fx-background-color: black ;
    -fx-background-radius: 5px;
    -fx-cursor: hand ;
}


